In [1]:
import pandas as pd
import numpy as np

data = {
    'Count': [1525720, 1450208, 1412445, 1412445, 1412445, 1412445, 1525720, 1521426, 1497507, 1521427, 1525720],
    'Unique': [20, 1694, 1662, 17, np.nan, np.nan, 1525720, 13551, 15970, 116715, np.nan],
    'Top': ['GUERRERO', 'LAS MARGARITAS', 'Las Margaritas', 'Guerrero', np.nan, np.nan, '23-PRONAFE-FERT-000510-S000-AS', 'HERNANDEZ', 'HERNANDEZ', 'JUAN', np.nan],
    'Freq': [356223, 19497, 19497, 354841, np.nan, np.nan, 1, 75301, 75248, 24614, np.nan],
    'Mean': [np.nan, np.nan, np.nan, np.nan, 14.019306, 82.45165, np.nan, np.nan, np.nan, np.nan, 1.463099],
    'Std Dev': [np.nan, np.nan, np.nan, np.nan, 5.862325, 104.247758, np.nan, np.nan, np.nan, np.nan, 0.498637],
    'Min': [np.nan, np.nan, np.nan, np.nan, 1, 1, np.nan, np.nan, np.nan, np.nan, 1],
    '25%': [np.nan, np.nan, np.nan, np.nan, 12, 24, np.nan, np.nan, np.nan, np.nan, 1],
    '50%': [np.nan, np.nan, np.nan, np.nan, 12, 53, np.nan, np.nan, np.nan, np.nan, 1],
    '75%': [np.nan, np.nan, np.nan, np.nan, 20, 93, np.nan, np.nan, np.nan, np.nan, 2],
    'Max': [np.nan, np.nan, np.nan, np.nan, 31, 570, np.nan, np.nan, np.nan, np.nan, 2]
}

df = pd.DataFrame(data, index=['ESTADO', 'MUNICIPIO', 'NOM_MUN', 'NOM_ENT', 'CVE_ENT', 'CVE_MUN', 'ACUSE', 'APELLIDO PATERNO', 'APELLIDO MATERNO', 'NOMBRE (S)', 'PAQUETE'])

In [2]:
df

,Count,Unique,Top,Freq,Mean,Std Dev,Min,25%,50%,75%,Max
ESTADO,1525720,20.0,GUERRERO,356223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MUNICIPIO,1450208,1694.0,LAS MARGARITAS,19497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOM_MUN,1412445,1662.0,Las Margaritas,19497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOM_ENT,1412445,17.0,Guerrero,354841.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CVE_ENT,1412445,NaN,NaN,NaN,14.019306,5.862325,1.0,12.0,12.0,20.0,31.0
CVE_MUN,1412445,NaN,NaN,NaN,82.451650,104.247758,1.0,24.0,53.0,93.0,570.0
ACUSE,1525720,1525720.0,23-PRONAFE-FERT-000510-S000-AS,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APELLIDO PATERNO,1521426,13551.0,HERNANDEZ,75301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
APELLIDO MATERNO,1497507,15970.0,HERNANDEZ,75248.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOMBRE (S),1521427,116715.0,JUAN,24614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PAQUETE,1525720,NaN,NaN,NaN,1.463099,0.498637,1.0,1.0,1.0,2.0,2.0