In [1]:
import pandas as pd
import numpy as np

data = {
    'Variable': ['ESTADO_prod', 'MUNICIPIO_prod', 'ACUSE', 'APELLIDO PATERNO', 'APELLIDO MATERNO', 'NOMBRE (S)', 'PAQUETE', 'ESTADO_inegi', 'MUNICIPIO_inegi', 'CVE_MUN_Unique', 'CVE_ENT', 'CVE_MUN'],
    'Count': [1541130, 1465618, 1541130, 1536836, 1512563, 1536837, 1541130, 1455397, 1455397, 1455397, 1455397, 1455397],
    'Unique': [20, 1694, 1525720, 13551, 15970, 116715, np.nan, 19, 1679, 1729, np.nan, np.nan],
    'Top': ['GUERRERO', 'LAS MARGARITAS', '23-PRONAFE-FERT-006339-S000-CC', 'HERNANDEZ', 'HERNANDEZ', 'JUAN', np.nan, 'GUERRERO', 'LAS MARGARITAS', '7-52', np.nan, np.nan],
    'Freq': [356223, 19497, 3, 75851, 75802, 24798, np.nan, 354841, 19497, 19497, np.nan, np.nan],
    'Mean': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1.465675, np.nan, np.nan, np.nan, 14.050221, 81.612651],
    'Std Dev': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 0.498821, np.nan, np.nan, np.nan, 5.885824, 104.242026],
    'Min': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1, np.nan, np.nan, np.nan, 1, 1],
    '25%': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1, np.nan, np.nan, np.nan, 10, 22],
    '50%': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1, np.nan, np.nan, np.nan, 13, 52],
    '75%': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 2, np.nan, np.nan, np.nan, 20, 93],
    'Max': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 2, np.nan, np.nan, np.nan, 31, 570]
}

df = pd.DataFrame(data)

In [2]:
df

,Variable,Count,Unique,Top,Freq,Mean,Std Dev,Min,25%,50%,75%,Max
0,ESTADO_prod,1541130,20.0,GUERRERO,356223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MUNICIPIO_prod,1465618,1694.0,LAS MARGARITAS,19497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACUSE,1541130,1525720.0,23-PRONAFE-FERT-006339-S000-CC,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APELLIDO PATERNO,1536836,13551.0,HERNANDEZ,75851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APELLIDO MATERNO,1512563,15970.0,HERNANDEZ,75802.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NOMBRE (S),1536837,116715.0,JUAN,24798.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,PAQUETE,1541130,NaN,NaN,NaN,1.465675,0.498821,1.0,1.0,1.0,2.0,2.0
7,ESTADO_inegi,1455397,19.0,GUERRERO,354841.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MUNICIPIO_inegi,1455397,1679.0,LAS MARGARITAS,19497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,CVE_MUN_Unique,1455397,1729.0,7-52,19497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,CVE_ENT,1455397,NaN,NaN,NaN,14.050221,5.885824,1.0,10.0,13.0,20.0,31.0
11,CVE_MUN,1455397,NaN,NaN,NaN,81.612651,104.242026,1.0,22.0,52.0,93.0,570.0